$primary-color: #2D2E83;
$primary-color-press: #151652;
$primary-color-hover: #494AA4;

$secondary-color: #D2AB66;
$secondary-color-press: #C1964A;
$secondary-color-hover: #E3BC76;

$success-color: #38C775;
$success-transparent-color: rgba(56, 199, 117, 0.1);
$warning-color: #FF9700;
$warning-transparent-color: rgba(255, 151, 0, 0.1);
$info-color: #3EAEFF;
$info-transparent-color: rgba(62, 174, 255, 0.1);
$error-color: #FE5050;
$error-transparent-color: rgba(254, 80, 80, 0.1);

$gray-100: #F7F9FC;
$gray-200: #E6EAF0;
$gray-300: #D0D7E2;
$gray-400: #A7AFBC;
$gray-500: #7B8698;
$gray-600: #596579;
$gray-700: #374253;
$gray-800: #192638;
$gray-900: #0F1825;

$white: #FFFFFF;

$border-color-default: #EAEAEA;
